h1 {
  text-align: center;
}

#clear {
  width: 195px;
  border: 1px solid gray;
  background-color: rgb(65, 62, 62);
}

.formstyle {
  width: 300px;
  height: 530px;
  margin: auto;
  padding: 20px;
}
form {
  border: 1px solid;
  border-radius: 2px;
  background-color: gray;
}

input {
  /* width: 35px; */
  background-color: #5b5252;
  color: white;
  border: 1px solid gray;
  padding: 18px;
  font-size: 44px;
  margin: 0;
}

#calc {
  width: 256px;
  border: 1px solid black;
  padding: 20px;
  margin: auto;
  height: 50px;
  font-size: 45px;
}
#zero {
  width: 195px;
}
.orange-color {
  background-color: rgb(236, 117, 5);
  width: 98px;
}
